*{
    margin: 0;
    padding: 0;
}

body{
    height: 280px;
    transition: opacity 0.5s ease;
    opacity: 0;
    overflow-y: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-image: url('./assets/image/1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading{
    text-align: center;
    padding: 10px;
    color: white;
    width: fit-content;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #3d3d3d;
}

.main-body{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.progressDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBarDiv {
  margin: 0 auto;
  width: 90%;
  background-color: grey;
}

#bar {
  width: 0%;
  height: 10px;
  background-color: rgb(7, 212, 7);
}

.timeLeft{
    color: white;
    margin-bottom: 5px;
}

.controls{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: box-shadow 0.4s ease;
}

.controls button:hover{
    box-shadow: 0 0 2px 3px rgb(184, 184, 184);
    cursor: pointer;
}