*{
    margin: 0;
    padding: 0;
}

.main{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.breakDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.labelInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#saveBtn{
    width: 70px;
    height: 50px;
    align-self: flex-end;
}

.heading{
    align-self: flex-start;
}

.launchOnStartup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
